[submodule "resources/vim"]
	path = resources/vim
	url = https://github.com/vim/vim.git
[submodule "resources/oh-my-zsh"]
	path = resources/oh-my-zsh
	url = https://github.com/robbyrussell/oh-my-zsh.git
