<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>Label</key>
  <string>tianling.userspace.envfix</string>
  <key>ProgramArguments</key>
  <array>
    <string>sh</string>
    <string>-c</string>
    <string>
    launchctl setenv LANG en_US.UTF-8
    launchctl setenv LC_ALL en_US.UTF-8
    </string>
  </array>
  <key>RunAtLoad</key>
  <true/>
</dict>
</plist>
